*{
    margin: 0;
    padding: 0;
}
body{
    /*    background: url(img/kursk.jpg);*/
    background: #eee;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 90%;
    max-width: 900px;
    background: #f5f5f5;
    margin: auto;
    box-shadow: 0px 0px 5px #aaa;
    overflow: hidden;
    padding-bottom: 100px;
}
h1{
    line-height: 50px;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-align: center;
    /*    box-shadow: 0px 0px 5px #000;*/
    color: #222;
    background: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    width: 400px;
    margin: auto;
    /*
    z-index: 99999;
    position: relative;
    */
}
.showcase{
    background: url(img/stalin.jpg);
    height: 400px;
    background-position: center;
/*    background-attachment: fixed;*/
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-content: center;
    /*    filter: blur(1px);*/
}
.heroes{
    /*    background: #ccc;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0 50px;
}
.heroesHeader{
    line-height: 50px;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-align: center;
    color: #222;
    margin-top: 20px;
}
.heroBlock{
    /*    background: #444;*/
    width: 200px;
    height: 360px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}
.heroImage{
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 5px #aaa;
}
.heroName{
    /*    background: rgba(0, 0, 0, 0.5);*/
    padding: 5px;
    box-sizing: border-box;
    /*    color: #fff;*/
    color: #222;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
}
.panelButton{
    width: 100%;
    line-height: 50px;
    border: none;
    background: #eee;
/*    box-shadow: 0px 0px 5px #aaa;*/
    color: #222;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
    transition: .3s;
    outline: none;
    display: block;
    text-align: center;
    text-decoration: none;
}
.panelButton:hover{
    background: #ddd;
/*    color: #000;*/
/*    box-shadow: 0px 0px 3px #aaa;*/
}
.panel{
    padding: 0 10px;
    box-sizing: border-box;
    text-indent: 20px;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: normal;
    color: #222;
    max-height: 0;
    overflow: hidden;
    /*    background: #ccc;*/
    margin: 10px 0;
    transition: .3s;
}
.panel img{
    margin: 10px auto;
    display: block;
}
.home{
    width: 100px;
    margin: 20px auto 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #222;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
    transition: .3s;
}
.home:hover{
    color: #555;
}
